{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - card_color_scheme: {String} Allows for default color scheme, or matching to the section. (optional)
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_fit: {String} The setting changes the fit of the article image, if shown
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the date by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
    - show_excerpt: {String} The setting either show an article excerpt or not. If it's not included it will not show an excerpt by default
    - show_tags: {String} The setting either show the article tags or not. If it's not included it will not show tags by default
    - show_badge: {String} The setting either show the blog badge or not.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign card_hover_info = false

    if hover_info or settings.content_card_hover_show_info
      assign card_hover_info = true
    endif
    
    case media_aspect_ratio
      when 'lportrait'
        assign ratio = 0.5625
      when 'sportrait'
        assign ratio = 0.67
      when 'widescreen'
        assign ratio = 1.77
      when 'landscape'
        assign ratio = 1.5
      when 'square'
        assign ratio = 1
      when 'auto'
        assign ratio = article.image.aspect_ratio
      else
        assign ratio = 1
    endcase

    assign color_scheme = settings.content_card_color_scheme

    if card_color_scheme and card_color_scheme != 'default'
      assign color_scheme = section_color_scheme
    endif

    if media_fit == nil
      assign media_fit = settings.content_card_image_fit
    endif
  -%}

  <div class="card-wrapper underline-links-hover">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div class="card article-card color-scheme--{{ color_scheme }}{% if card_color_scheme != 'default' %} {{ card_color_scheme }}{% endif %}
      {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
      {% if settings.content_card_hover_animate %} {{ settings.content_card_hover_animation }}{% endif %}
      {% if settings.content_card_border %} border border-scheme-fg{% endif %}
      {% if card_hover_info %} card--info-hover{% endif %}"
    >
      <div class="card__inner {{ media_aspect_ratio }} ratio {{ article.image.aspect_ratio }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if article.image and show_image -%}
          <div class="article-card__image-wrapper card__media">
            <div class="article-card__image media" {% if media_aspect_ratio == 'auto' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 768px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="card__image {{ media_aspect_ratio }} {% if media_fit %}{{ media_fit }}{% else %}{{ media_fit }}{% endif %}"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>
        {%- endif -%}

        {%- capture card-info-before -%}
          <div class="card-information before">
            <div class="article-card__header caption-spaced h5">
              {%- if show_tags and article.tags.size > 0 -%}
                <span>{{ article.tags | join: ', ' | truncate: 25 }}</span>
              {%- endif -%}
              {%- if show_date -%}
                <span>{{ article.published_at | time_tag: format: 'date' }}</span>
              {%- endif -%}
              {%- if show_author and blog_list == false -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
              {%- if card_hover_info -%}
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span class="card__comments">
                    <span class="icon">{% render 'icon-comment' %}</span>
                    <span>{{ article.comments_count }}</span>
                    <span class="sr-only">comment(s)</span>
                  </span>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        {% endcapture %}

        {%- if card_hover_info -%}
          <div class="card__content">        
            <div class="card__information">
              {{ card-info-before }}
              <h4 class="card__heading">
                <a href="{{ article.url }}" class="full-unstyled-link">
                  {{ article.title | truncate: 50 | escape }}
                </a>
              </h4>
            </div>
            {%- if show_badge -%}
              <div class="card__badge {{ settings.badge_position }}">
                <span class="badge btn btn-{{ settings.content_badge_color_scheme }}">
                  <span class="btn__label">
                    {{ 'blogs.article.blog' | t }}
                  </span>
                </span>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>

      {%- unless hover_info -%}
        <div class="card__content">
          <div class="card__information">
            {{ card-info-before }}
            <h4 class="card__heading">
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h4>
            <div class="card-information after">
              {%- if show_excerpt -%}
                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                  {% liquid
                    if article.excerpt.size > 0
                      assign excerpt = article.excerpt
                    else
                      assign excerpt = article.content
                    endif

                    assign excerpt_length = 15

                    if blog_list
                      assign excerpt_length = 30
                    endif
                  %}
                  <p class="article-card__excerpt rte-width">
                    {{ excerpt | strip_html | truncatewords: excerpt_length }}
                  </p>
                {%- endif -%}
              {%- endif -%}
              <div class="article-card__footer">
                {% if show_author and blog_list %}
                  <p class="article-card__author">Author: <span>{{ article.author }}</span></p>
                {% endif %}
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span class="card__comments">
                    <span class="icon">{% render 'icon-comment' %}</span>
                    <span>{{ article.comments_count }}</span>
                    <span class="sr-only">comment(s)</span>
                  </span>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endunless -%}
    </div>
  </div>
{%- endif -%}
