{% comment %}
    Renders a collection card

    Accepts:
    - card_collection: {Object} Collection Liquid object
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - hover_info: {Boolean} Show the product info over the card image on hover. Default: false, then defaults to global theme setting
    - columns: {Number} 
    - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
    
    Usage:
    {% render 'card-collection' %}
{% endcomment %}

{% liquid 
  assign color_scheme = settings.product_card_color_scheme

  if card_color_scheme and card_color_scheme != 'default'
    assign color_scheme = section_color_scheme
  endif

  assign card_hover_info = false

  if hover_info or settings.product_card_hover_show_info
    assign card_hover_info = true
  endif

  case media_aspect_ratio
    when 'lportrait'
      assign ratio = 0.5625
    when 'sportrait'
      assign ratio = 0.67
    when 'widescreen'
      assign ratio = 1.77
    when 'landscape'
      assign ratio = 1.5
    when 'square'
      assign ratio = 1
    when 'auto'
      assign ratio = card_product.featured_media.aspect_ratio
    else
      assign ratio = 1
  endcase

  if media_fit == nil
    assign media_fit = settings.product_card_image_fit
  endif
%}

<div class="card-wrapper animate-arrow">
  <div class="card card--collection color-scheme--{{ color_scheme }}{% if card_color_scheme != 'default' %} {{ card_color_scheme }}{% endif %} gradient
    {% if card_collection.featured_image %} card--media{% else %} card--text{% endif %}
    {% if settings.product_card_hover_animate %} {{ settings.product_card_hover_animation }}{% endif %}
    {% if extend_height %} card--extend-height{% endif %}
    {% if settings.product_card_border %} border border-scheme-fg{% endif %}
    {% if card_hover_info %} card--info-hover{% endif %}"
  >
    <div class="card__inner {{ media_aspect_ratio }} ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%">
      {%- if card_collection.featured_image -%}
        <div class="card__media">
          <div class="media media--transparent">
            <img
              srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w"
              src="{{ card_collection.featured_image | image_url: width: 1500 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 1024px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ card_collection.featured_image.alt }}"
              height="{{ card_collection.featured_image.height }}"
              width="{{ card_collection.featured_image.width }}"
              loading="lazy"
              class="card__image motion-reduce {{ media_aspect_ratio }} {{ media_fit }}"
            >
          </div>
        </div>
      {%- endif -%}
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a{% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ card_collection.url }}"{% endif %} class="full-unstyled-link">
              {%- if card_collection.title != blank -%}
                {{- card_collection.title | escape -}}
              {%- else -%}
                {{ 'onboarding.collection_title' | t }}
              {%- endif -%}
            </a>
          </h3>
          {%- if card_hover_info -%}
            {%- if card_collection.description != blank -%}
              <p class="card-information card__caption">
                {{- card_collection.description | strip_html | truncatewords: 12 -}}
              </p>
            {%- endif -%}
          {%- endif -%}
        </div>   
      </div>
    </div>
    {%- unless card_hover_info -%}
      <div class="card__content">
        <div class="card__information">
          {% if card_collection.featured_image %}
            <h3 class="card__heading">
              <a{% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ card_collection.url }}"{% endif %} class="full-unstyled-link">
                {%- if card_collection.title != blank -%}
                  {{- card_collection.title | escape -}}
                {%- else -%}
                  {{ 'onboarding.collection_title' | t }}
                {%- endif -%}
              </a>
            </h3>
          {% endif %}
          <div class="card-information">
            {%- if card_collection.featured_image == blank and card_collection.description != blank -%}
              <p class="card__caption">
                {{- card_collection.description | strip_html | truncatewords: 12 -}}
              </p>
            {%- endif -%}
            <a{% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ card_collection.url }}"{% endif %} class="btn btn-outline primary">
              <span class="btn__label">
                View
              </span>
            </a>
          </div>
        </div>
      </div>
    {%- endunless -%}
  </div>
</div>
