{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'et_collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }} .splide__slide {
    flex-basis: calc(1/{{ section.settings.columns_mobile }} * 100%);
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }} .splide__slide {
      flex-basis: calc(1/{{ section.settings.columns_desktop }} * 100%);
    }
  }
{%- endstyle -%}

{%- liquid
  assign show_mobile_slider = false
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and section.blocks.size > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="{% if section.settings.use_foreground %}section--foreground {% endif %}section color-scheme--{{ section.settings.color_scheme }}">
  <div class="collection-list-wrapper isolate{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} section-{{ section.id }}">
    {%- unless section.settings.title == blank -%}
      <div class="container {% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 id="SectionHeading-{{ section.id }}" class="collection-list-title {{ section.settings.heading_size }} {{ section.settings.heading_alignment }}">{{ section.settings.title | escape }}</h2>
  
        {%- if section.settings.show_view_all and show_mobile_slider -%}
          <a href="{{ routes.collections_url }}" id="ViewAll-{{ section.id }}" class="link underlined-link large-up-hide" aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}">{{ 'sections.collection_list.view_all' | t }}</a>
        {%- endif -%}
      </div>
    {%- endunless -%}
  
    <div class="{% if show_mobile_slider or show_desktop_slider %}splide {% else %}splide--disabled {% endif %}container"
      data-splide='
        {%- if show_mobile_slider and show_desktop_slider != true -%}
          { "perPage": {{ section.settings.columns_mobile }}, "mediaQuery": "min", "breakpoints": { "768": { "destroy": true } } }
        {%- elsif show_mobile_slider != true and show_desktop_slider -%}
          { "perPage": {{ section.settings.columns_desktop }}, "mediaQuery": "max", "breakpoints": { "767": { "destroy": true } } }
        {% else %}
          { "perPage": {{ section.settings.columns_mobile }}, "mediaQuery": "min", "breakpoints": { "768": { "perPage": {{ section.settings.columns_desktop }} } } }
        {% endif %}
      '
      >
      <div class="splide__track">
        <ul class="splide__list collection-list contains-card collection-list--{{ section.blocks.size }}-items"
          id="Slider-{{ section.id }}"
          role="list">
          {%- for block in section.blocks -%}
            <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="collection-list__item splide__slide{% if block.settings.collection.featured_image == nil %} collection-list__item--no-media{% endif %}" {{ block.shopify_attributes }}>
              {% render 'card-collection',
                card_collection: block.settings.collection,
                card_color_scheme: section.settings.card_color_scheme,
                section_color_scheme: section.settings.color_scheme,
                media_aspect_ratio: section.settings.image_ratio,
                hover_info: section.settings.card_hover_show_info %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="splide__arrows{% unless show_mobile_slider %} small-hide{% endunless %}{% unless show_desktop_slider %} medium-hide large-up-hide{% endunless %}">
        <button class="splide__arrow splide__arrow--prev">
          {%- render 'icon-arrow-big' -%}
        </button>
        <button class="splide__arrow splide__arrow--next">
          {%- render 'icon-arrow-big' -%}
        </button>
      </div>
    </div>
  
    {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
      <div class="center collection-list-view-all{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
        <a href="{{ routes.collections_url }}" class="btn secondary btn-shadow btn--large{% if show_mobile_slider %} small-hide medium-hide{% endif %}" id="ViewAllButton-{{ section.id }}" aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}">
          <span class="btn__label">
            {{ 'sections.collection_list.view_all' | t }}
          </span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Heading Alignment"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__2.label"
        },
        {
          "value": "lportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__3.label"
        },
        {
          "value": "sportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__4.label"
        },
        {
          "value": "widescreen",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__5.label"
        },
        {
          "value": "landscape",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__6.label"
        }
      ],
      "default": "square",
      "label": "t:settings_schema.global.settings.aspect_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "select",
      "id": "card_color_scheme",
      "options": [
        {
          "value": "default",
          "label": "Default (theme settings)"
        },
        {
          "value": "match",
          "label": "Match section"
        },
        {
          "value": "inverse",
          "label": "Inverse section"
        }
      ],
      "default": "default",
      "label": "Card color scheme"
    },
    {
      "type": "checkbox",
      "id": "card_hover_show_info",
      "default": false,
      "label": "Show card info on hover",
      "info": "When enabled, card information like titles, descriptions and prices will animate over the image area on hover."
    },
    {
      "type": "checkbox",
      "id": "use_foreground",
      "default": false,
      "label": "Enable foreground color",
      "info": "Use foreground color as background color to highlight section from rest of the page."
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

