{{ 'et_film-strip.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }} .film-strip-list__item {
    width: calc(1/{{ section.settings.columns_mobile }} * 100%);
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }} {
      padding: {{ section.settings.padding_top }}px {{ section.settings.padding_left_right }}px {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }} .film-strip-list__item {
      width: calc(1/{{ section.settings.columns_desktop }} * 100%);
    }
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and section.blocks.size > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="film-strip color-scheme color-scheme--{{ section.settings.color_scheme }}{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="section-{{ section.id }} isolate">
    <div class="{% if show_mobile_slider or show_desktop_slider %}splide splide--no-padding{% else %}splide--disabled{% endif %}"
      {% if show_mobile_slider or show_desktop_slider %}
        aria-label="Film strip slider"
        data-splide='
          {%- if show_mobile_slider and show_desktop_slider != true -%}
            { "perPage": {{ section.settings.columns_mobile }}, "type": "loop", "arrows": false, "gap": "{{ section.settings.padding_column }}px", "padding": "20%", "mediaQuery": "min", "breakpoints": { "768": { "destroy": true } } }
          {%- elsif show_mobile_slider != true and show_desktop_slider -%}
            { "perPage": {{ section.settings.columns_desktop }}, "type": "loop", "arrows": false, "gap": "{{ section.settings.padding_column }}px", "padding": "20%", "mediaQuery": "max", "breakpoints": { "767": { "destroy": true } } }
          {% else %}
            { "perPage": {{ section.settings.columns_mobile }}, "type": "loop", "arrows": false, "gap": "{{ section.settings.padding_column }}px", "padding": "20%", "mediaQuery": "min", "breakpoints": { "768": { "perPage": {{ section.settings.columns_desktop }} } } }
          {% endif %}'
      {% endif %}
      >
      <div class="splide__track">
        <ul class="splide__list film-strip-list contains-content-container"
          id="Slider-{{ section.id }}"
          role="list">
          {%- liquid
            assign highest_ratio = 0
            for block in section.blocks
              if block.settings.image.aspect_ratio > highest_ratio
                assign highest_ratio = block.settings.image.aspect_ratio
              endif
            endfor
          -%}
          {%- for block in section.blocks -%}
            {%- assign empty_column = '' -%}
            {%- if block.settings.image == blank and block.settings.title == blank and block.settings.text == blank and block.settings.link_label == blank -%}
              {%- assign empty_column = ' film-strip-list__item--empty' -%} 
            {%- endif -%}

            <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="splide__slide film-strip-list__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}" {{ block.shopify_attributes }}>            
              <div class="film-strip-card content-container {% if block.settings.column_orientation == 'text-above' %} text-above {% endif %}">
                {%- if block.settings.image != blank -%}
                  {% if section.settings.image_ratio == 'auto' or section.settings.image_ratio == 'circle' %}
                    {% assign spaced_image = true %}
                  {% endif %}
                  <div class="film-strip-card__image-wrapper{% if spaced_image %} film-strip-card-spacing{% endif %}" style="padding: {{ block.settings.image-padding }}px;">
                    <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                      {% if section.settings.image_ratio == 'auto' %}
                        style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                      {% endif %}>
                      <img
                        class="film-strip-card__image"
                        srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                          {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                          {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                          {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                        src="{{ block.settings.image | image_url: width: 550 }}"
                        sizes="(min-width: 1024px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                          (min-width: 768px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                          calc(100vw - 30px)"
                        alt="{{ block.settings.image.alt }}"
                        height="{{ block.settings.image.height }}"
                        width="{{ block.settings.image.width }}"
                        loading="lazy" 
                      >
                    </div>
                  </div>
                {%- else -%}
                  {% unless block.settings.title != blank or block.settings.text != blank %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endunless %}
                {%- endif -%}
                {% if block.settings.title != blank or block.settings.text != blank %}
                  <div class="film-strip-card__info" style="padding: {{ block.settings.text-padding }}px;">
                    {%- if block.settings.title != blank -%}
                      <h3>{{ block.settings.title | escape }}</h3>
                    {%- endif -%}
                    {%- if block.settings.text != blank -%}
                      <div class="rte">{{ block.settings.text }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Film Strip",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__2.label"
        },
        {
          "value": "lportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__3.label"
        },
        {
          "value": "sportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__4.label"
        },
        {
          "value": "widescreen",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__5.label"
        },
        {
          "value": "landscape",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__6.label"
        }
      ],
      "default": "square",
      "label": "Image aspect ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 5,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multicolumn.settings.column_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_column",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Block padding",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_left_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Left/Right padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "range",
          "id": "image-padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Image padding",
          "default": 0
        },
        {
          "type": "range",
          "id": "text-padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Text padding",
          "default": 35
        },
        {
          "type": "select",
          "id": "column_orientation",
          "options": [
            {
              "value": "text-below",
              "label": "Image above text"
            },
            {
              "value": "text-above",
              "label": "Image below text"
            }
          ],
          "default": "text-below",
          "label": "Block content orientation"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Add images and remove text to create a film strip effect.",
          "label": "Subtext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Film Strip",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
