{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'et_hero.css' | asset_url | stylesheet_tag }}

{% liquid 
  assign collectionImageAvailable = false

  if section.settings.show_collection_image and collection.image
    assign collectionImageAvailable = true
    assign collectionImage = collection.image
  else
    if section.settings.alternate_collection_image
      assign collectionImageAvailable = true
      assign collectionImage = section.settings.alternate_collection_image
    endif
  endif

  assign blocksLength = section.blocks | size
%}

{% if section.settings.overlay > 0 %}
  {% style %}
    .hero--{{ section.id }} {
      --hero-overlay-opacity: {{ section.settings.overlay }}%;
    }
  {% endstyle %}
{% endif %}

<div class="hero hero--{{ section.id }}{% if collectionImageAvailable %} has-image{% endif %}{% if collectionImageAvailable and section.settings.overlay > 0 %} has-overlay{% endif %} {{ section.settings.color_scheme }} color-scheme--{{ section.settings.color_scheme }}">
  <div class="hero__inner {{ section.settings.height }}">
    {%- if collectionImageAvailable -%}
      <div class="hero__image-wrapper {{ section.settings.height }}">
        <img
          srcset="{{ collectionImage | image_url: width: 480 }} 480w,
          {{ collectionImage | image_url: width: 640 }} 640w,
          {{ collectionImage | image_url: width: 768 }} 768w,
          {{ collectionImage | image_url: width: 1024 }} 1024w,
          {{ collectionImage | image_url: width: 1280 }} 1280w,
          {{ collectionImage | image_url: width: 1536 }} 1536w,
          {{ collectionImage | image_url }} {{ collectionImage.width }}w"
          src="{{ collectionImage | image_url: width: 1024 }}"
          alt="{{ collectionImage.alt }}"
          width="{{ collectionImage.width }}"
          height="{{ collectionImage.height }}"
          class="hero__image"
        >
        </div>
      {%- endif -%}

      {% if blocksLength > 0 %}
        <div class="hero__text-wrapper">
          <div class="hero__text {{ section.settings.content_alignment }} {{ section.settings.content_position }}">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  {% if block.settings.title != '' %}
                    {% if block.settings.show_collection_title %}
                      <h6 class="hero__collection-title">
                        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
                        {{- collection.title | escape -}}
                      </h6>
                    {% endif %}
                    <h1 class="hero__title">
                      {{- block.settings.title | escape -}}
                    </h1>
                  {% else %}
                    {% if block.settings.show_collection_title %}
                      <h1 class="hero__title">
                        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
                        {{- collection.title | escape -}}
                      </h1>
                    {% endif %}
                  {% endif %}
                {% when 'subtitle' %}
                  {% if block.settings.title != '' %}
                    <h2 class="hero__subtitle">
                      {{- block.settings.title | escape -}}
                    </h2>
                  {% endif %}
                {% when 'description' %}
                  {% if block.settings.show_collection_description or block.settings.description != '' %}
                    <div class="hero__description rte">
                      {%- if block.settings.show_collection_description -%}
                        {{ collection.description }}
                      {%- else -%}
                        {{ block.settings.description }}
                      {%- endif -%}
                    </div>
                  {% endif %}
                {% when 'buttons' %}
                  {% render 'buttons',
                    primary_button_label: block.settings.primary_button_label,
                    primary_button_link: block.settings.primary_button_url,
                    secondary_button_label: block.settings.secondary_button_label,
                    secondary_button_link: block.settings.secondary_button_url,
                    style: block.settings.style,
                    reverse: block.settings.reverse
                  %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-hero.name",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-hero.settings.show_collection_image.label",
      "info": "t:sections.main-collection-hero.settings.show_collection_image.info"
    },
    {
      "type": "image_picker",
      "id": "alternate_collection_image",
      "label": "Alternate image",
      "info": "If an alternate image is used and \"Show Collection Image\" is enabled, the default image will take priority."
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "h-sm",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "h-md",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "h-lg",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "h-md",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "overlay",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Overlay Opacity",
      "info": "To leave overlay disabled, keep set to 0%.",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle",
      "label": "Content Position"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Content Alignment"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collection_title",
          "default": false,
          "label": "t:sections.main-collection-hero.settings.show_collection_title.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Alternate title",
          "info": "If an alternate title is used and \"Show Collection Title\" is enabled, the collection title will minimize as a subtitle. For best results, keep under 255 characters."
        }
      ],
      "limit": 1
    },
    {
      "name": "Subtitle",
      "type": "subtitle",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Subtitle",
          "info": "For best results, keep under 255 characters."
        }
      ],
      "limit": 1
    },
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collection_description",
          "default": false,
          "label": "t:sections.main-collection-hero.settings.show_collection_description.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Alternate description",
          "info": "If an alternate description is used and \"Show Collection Description\" is enabled, the default description will take priority."
        }
      ],
      "limit": 1
    },
    {
      "name": "Buttons",
      "type": "buttons",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "options": [
            {
              "value": "flat",
              "label": "Flat"
            },
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "shadow",
              "label": "Shadow"
            }
          ],
          "label": "Style",
          "default": "outline"
        },
        {
          "type": "checkbox",
          "id": "reverse",
          "label": "Reverse button order",
          "default": false
        },
        {
          "type": "text",
          "id": "primary_button_label",
          "label": "Primary button label",
          "default": "Optional Button 1"
        },
        {
          "type": "url",
          "id": "primary_button_url",
          "label": "Primary button link"
        },
        {
          "type": "text",
          "id": "secondary_button_label",
          "label": "Secondary button label",
          "default": "Optional Button 2"
        },
        {
          "type": "url",
          "id": "secondary_button_url",
          "label": "Secondary button link"
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}
