<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<link rel="stylesheet" href="{{ 'et_cards.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'et_price.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rating.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>

<noscript>{{ 'et_cards.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'et_price.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding .splide__slide {
    flex-basis: calc(1/{{ section.settings.columns_mobile }} * 100%);
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }}-padding .splide__slide {
      flex-basis: calc(1/{{ section.settings.columns_desktop }} * 100%);
    }
  }
{%- endstyle -%}

<div id="product-recommendations" class="section color-scheme--{{ section.settings.color_scheme }}">
  <product-recommendations class="product-recommendations splide container section-{{ section.id }}-padding isolate"
    data-splide='{ "perPage": {{ section.settings.columns_mobile }}, "mediaQuery": "min", "breakpoints": { {% if section.settings.display_style == 'grid' %}"768": { "destroy": true }{% else %}"768": { "perPage": {{ section.settings.columns_desktop }} }{% endif %} } }'
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <h2 class="product-recommendations__heading {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
      <div class="splide__track">
        <ul class="splide__list product-grid" role="list">
          {% for recommendation in recommendations.products %}
            <li class="splide__slide">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: section.settings.image_ratio,
                card_color_scheme: section.settings.card_color_scheme,
                section_color_scheme: section.settings.color_scheme,
                show_secondary_image: section.settings.show_secondary_image,
                show_price: section.settings.show_price,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                hover_info: section.settings.card_hover_show_info
              %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="splide__arrows{% if section.settings.display_style == 'grid' or recommendations.products_count <= section.settings.columns_desktop %} medium-hide large-up-hide{% endif %}">
        <button class="splide__arrow splide__arrow--prev">
          {%- render 'icon-arrow-big' -%}
        </button>
        <button class="splide__arrow splide__arrow--next">
          {%- render 'icon-arrow-big' -%}
        </button>
      </div>
    {% endif %}
  </product-recommendations>
</div>

{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');

            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }

            if (html.querySelector('.splide__slide')) {
              this.classList.add('product-recommendations--loaded');

              new window.Splide(this).mount();
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "display_style",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "grid",
      "label": "Display style"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-recommendations.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-recommendations.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "card_color_scheme",
      "options": [
        {
          "value": "default",
          "label": "Default (theme settings)"
        },
        {
          "value": "match",
          "label": "Match section"
        },
        {
          "value": "inverse",
          "label": "Inverse section"
        }
      ],
      "default": "default",
      "label": "Card color scheme"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__2.label"
        },
        {
          "value": "lportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__3.label"
        },
        {
          "value": "sportrait",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__4.label"
        },
        {
          "value": "widescreen",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__5.label"
        },
        {
          "value": "landscape",
          "label": "t:settings_schema.global.settings.aspect_ratio.options__6.label"
        }
      ],
      "default": "auto",
      "label": "t:settings_schema.global.settings.aspect_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_price.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_rating.label",
      "info": "t:sections.product-recommendations.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "card_hover_show_info",
      "default": false,
      "label": "Show card info on hover",
      "info": "When enabled, card information like titles, descriptions and prices will animate over the image area on hover."
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.product-recommendations.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.product-recommendations.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.product-recommendations.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
